<h2>Create New Landmark</h2>

<!-- add content here -->

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
<br>
<br>

<form method="post" action="/landmark/id">

<label>Landmark Name: <input type="text" id="landmark[name]" name="landmark[name]"></label>
<br>
<label>Landmark Year Completed: <input type="text" id="landmark[year_completed]" name="landmark[year_completed]"></label>

<input type="submit" value="Create New Landmark">
</form>
